<mat-dialog-content class="mat-typography">
    <div class="row justify-content-md-center">
        <h3 class="row justify-content-md-center">Se ha creado el caso número: </h3>
        <h1 class="row justify-content-md-center">{{data.mensaje}}</h1>
    </div>
</mat-dialog-content>
<div mat-dialog-actions class="justify-content-md-center">
    <div class="row ">
        <div class="col-12 ">
            <div class="d-grid gap-2 ">
                <button class="btn btn-danger " mat-button mat-dialog-close>Cerrar</button>
            </div>
        </div>
    </div>
</div>