<div class="container mt-5">
    <div class="card-group">
        <div class="card">
            <img src="../../../assets/img/user.png" class="card-img-top mx-auto d-block mt-2" alt="user" style="max-width: 100px;">
            <div class="card-body">
                <h5 class="card-title">Área usuario</h5>
                <p class="card-text">Módulo de la parte superior donde el usuario cliente puede registrar y gestionar su caso</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/img/admin.png" class="card-img-top mx-auto d-block mt-2" alt="user" style="max-width: 100px;">
            <div class="card-body">
                <h5 class="card-title">Área administrativa</h5>
                <p class="card-text">Módulo de la parte superior donde el usuario administrador puede responder y gestionar los casos</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>